<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-5 py-10 relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4">
    <div class="flex flex-col justify-center">
      <div class="text-xl font-bold self-center pb-5"><%= @toy.name %></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <% if @reviews.present? %>
        <%= render partial: 'reviews/review', collection: @reviews %>
      <% end %>
    </div>
  </div>
  <div class="absolute flex justify-center inset-x-0 bottom-0">
    <%= paginate @reviews %>
  </div>
</div>
