<p><%= @user.name %>様</p>
<p>===============================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<p>===============================================</p>
<p>※こちらのメールは配信のみとなっております。ご質問・ご返信をいただいてもお答えできません。</p>
<p>※お問合せは<a href="<%= @q_form %>">こちら</a>からお願いいたします。</p>
