<div class="flex justify-center">
  <div class="overflow-x-auto w-2/5">
    <table class="table w-full">
      <tbody id="js-comments-table">
        <%= render 'comments/comment' %>
      </tbody>
    </table>
  </div>
</div>
