<% if object.errors.any? %>
  <div id="error-messages">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="text-red-600"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
