<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-5 py-10">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <% if @favoured_reviews.present? %>
        <%= render partial: 'review', collection: @favoured_reviews %>
      <% else %>
        <%= t('reviews.favourites.no_favorites') %>
      <% end %>
    </div>
  </div>
</div>