<%= stylesheet_link_tag params[:controller] %>
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <% if @reviews.present?%>
    <h2>検索結果: <%= @reviews.count %>件</h2>
  <% else %>
    <h2>検索結果: 0件</h2>
  <% end %>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <% if @reviews.present? %>
      <%= render partial: 'review', collection: @reviews %>
    <% else %>
      <%= t('.no_reviews') %>
    <% end %>
  </div>
</div>
