<header class="w-full shadow-lg bg-white dark:bg-gray-700 items-center h-16 rounded-2xl z-40">
  <div class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center">
    <div class="relative items-center pl-1 flex w-full lg:max-w-68 sm:pr-2 sm:ml-0">
      <div class="relative p-1 flex items-center justify-end w-full ml-5 mr-4 sm:mr-0 sm:right-auto">
        <div class="block relative">
          <%= link_to admin_logout_path, class: "hover:text-green-500", id: "logout", method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
